<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAVASCRIPT -DOM</title>
   <script src="../assets/js/14-dom.js" defer></script>
</head>
<body>
    <h1 id="main-title">La manipulation du DOM  en Javascript</h1>
    <h2 class="title">quelques propriété css</h2>
    <h2 class="title" id="title">pas facile le javascript</h2>
    <div>
        <p class="txt-uppercase" id="first-paragraphe">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed in voluptas voluptatum voluptate consequuntur consequatur, distinctio repellendus aspernatur vero
             ratione quis, aut ab adipisci dolore, reiciendis necessitatibus cum optio id?</p>
        <p class="txt-uppercase">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores assumenda
             doloremque minus provident similique placeat at tempora, consectetur illum, quaerat dignissimos sequi nulla aliquam! Rem explicabo dignissimos natus. Exercitationem, libero.</p>
        <p class="txt-uppercase">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat reiciendis anim
            i id ipsam, illum accusamus explicabo impedit, assumenda non sapiente sunt! Deserunt earum ipsa cupiditate hic. Eaque, aspernatur minima? Labore?
        </p>
    </div>
</body>
</html>