<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAVASCRIPT -DOM</title>
    <link rel="stylesheet" href="../assets/css/dom.css">
   <script src="../assets/js/14-dom.js" defer></script>
   <!-- <script src="../assets/js/15-events.js" defer></script> -->
</head>
<body>
    <h1 id="main-title" >La manipulation du DOM en Javascript</h1>
    <h2  id="title-2">Quelsques propriétés CSS</h2>
    <h3 class="title">Pas facile le Javascript</h3>
    <div id="div1">
        <p id= "paragraphe-container" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem quos omnis. Ab, voluptas non nesciunt expedita animi natus consequuntur necessitatibus, architecto quidem neque quisquam quos sapiente ex libero distinctio!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam mollitia labore ipsam obcaecati, ab eveniet hic distinctio ratione quas sunt atque sed culpa voluptate esse placeat, quo quisquam, eligendi ipsum.</p>
    <p id = "papa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsum excepturi quo deleniti amet tempora nesciunt at obcaecati animi facere maiores laboriosam ea hic, nam repudiandae ratione ipsam? Magni, suscipit.</p>
</div>


</body>
</html>