<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="../assets/js/16-list.js" defer></script>
</head>
<body>

    <h1>liste  avengers</h1>
    <div id="container">
        <ul id="avengers">
    <li >captain america</li>
    <li>iron-man</li>
    <li>spider-man</li>
    <li>Thor</li>
    <li>Les gardiens de la galxie</li>
</ul>
</div>

    <!-- liste -->
<!-- films avengers -->

<!-- ecouteur sur ul -->
   <!-- li cliqué qui change de taille 28px -->
</body>
</html>